{% extends "comments/base.html" %}
{# replace with your own base template and content block #}
{% load mptt_comments_tags %}


{% block extrahead %}
    {% mptt_comments_media %}
{% endblock extrahead %}

{% block content %}

{% load i18n %}

{% if comments %}<h2>{% trans "Comments" %}</h2>{% endif %}
 
<div id="mptt-comments-tree" class="block-comments-tree">
        
{% include "comments/display_comments_tree.html" %}    
       
</div>

{% endblock %}

{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if comments.has_previous %}
            <a href="?page={{ comments.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
        </span>

        {% if comments.has_next %}
            <a href="?page={{ comments.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
